[submodule "ct/categories"]
	path = ct/categories
	url = git://github.com/copumpkin/categories.git
[submodule "ct/category-agda"]
	path = ct/category-agda
	url = git://github.com/konn/category-agda.git
[submodule "ct/cats"]
	path = ct/cats
	url = git://gitorious.org/cats/cats.git
