    <profile> 
      <id>Windows</id> 
      <activation>
	<os>
	  <family>Windows</family>
	</os>
      </activation>
      <properties>
	<jython.home>x:\dev\jython-2.1</jython.home>
      </properties>
    </profile> 
    <profile> 
      <id>Jython_in_stow</id> 
      <activation>
	<file>
	  <exists>/usr/local/stow/jython-2.1/jythonc</exists>
	</file>
      </activation>
      <properties>
	<jython.home>/usr/local/stow/jython-2.1</jython.home>
      </properties>
    </profile> 
